{{ template "top" . }}
<h1>{{.RawPost.Title}}</h1>
<p>{{.RawPost.Description}}</p>

Tags:
<ul>
    {{- range .RawPost.Tags}}
        <li>{{.}}</li>
    {{- end}}
</ul>

{{ .Body }}

{{ template "bottom" . }}
